* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    padding: 50px;
    background: #f0f0f0;
    text-align: center;
}
/* Навігація поверх Hero */
.navbar {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6); 
    padding: 15px 0;
    z-index: 100; 
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}


.navbar nav ul li {
    margin: 0 20px;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav-butt:active{
    color: #45a049; /* Колір кнопки при натисканні */
}
/* Hero секція */
.hero {
    position: relative;
    width: 100%;
    height: 70vh; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 60px; 
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
}


.hero-content {
    position: relative;
    z-index: 1;
    font-size: 200%;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}
.cytat{
    font-family: "Arsenal SC", serif;
    font-weight: 400;
  color: #29bb36;
}
/*why-important*/
.why-important {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    text-align: center;
    padding: 50px 20px;
    background: #f4f4f4;
}
.h2-reason{
    
   padding-bottom: 60px;
}
.reasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.reason {
    background: white;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
/*stats*/
.stats {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 0;
    background: #333;
    color: white;
    text-align: center;
}
.stat {
    font-size: 24px;
}
/*grafs-2*/
.main-container{
        display: flex;
        justify-content: space-between; 
        align-items: flex-start; 
        gap: 20px; 
        max-width: 1200px;
        margin: auto;
        height: 200px;
}
/*calculate*/
#co2-calculator {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    padding: 40px;
    text-align: center;
    margin-bottom:100px ;
}

.container {
    max-width: 500px;
    margin: auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}
/*graf*/
.container {
    width: 80%;
    max-width: 800px; 
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

canvas {
    width: 100% !important;
    height: 400px !important;
    max-height: 400px; 
}
.info{
    margin-top: 100px;
}